body {
    font-family: 'Arial', sans-serif;
    background: #ffe6eb;
    text-align: center;
    margin: 0;
    padding: 0;
}

nav {
    background: #ff4d6d;
    padding: 15px;
}

nav a {
    color: white;
    margin: 15px;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    padding: 80px 20px;
}

h1, h2 {
    color: #cc0033;
}

.notes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.note {
    background: white;
    padding: 20px;
    margin: 15px;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.gallery img {
    width: 250px;
    margin: 15px;
    border-radius: 15px;
}
.surprise-btn {
    background: #ff4d6d;
    color: white;
    border: none;
    padding: 15px 25px;
    font-size: 25px;
    border-radius: 40px;
    cursor: pointer;
    margin-top: 40px;
}

